.tac{
  text-align: center;
}

.menuitem{
color: white;
font-family: 'Teko', sans-serif;
font-size: 30px;
}

.menuitem a{
color: white;
font-family: 'Teko', sans-serif;
font-size: 30px;
}

.w-50{
  width: 50%;
}

.menuitem a:hover{
text-decoration: none;
color: #FB8122;
font-family: 'Teko', sans-serif;
font-size: 30px;
}

.buyButtonIndex{
width: 310px;
height: 60px;
border: 1px solid darkgrey;
background-color: #7d0202;
font-family: 'Teko', sans-serif;
font-size: 28px;
color: white;
}

.addToCart{
width: 50%;
height: 30px;
border: 1px solid black;
border-radius: 5px 5px 10px 10px;
background-color: #7d0202;
font-family: 'Teko', sans-serif;
font-size: 20px;
color: white;
z-index: 10;
}

.name{
font-family: 'Coustard', serif;
font-size: 20px;
}

.price{
font-family: 'Bitter', serif;
color: darkred;
font-size: 18px;
}

.w-100{
width: 100%;
}

.mt-50{
margin-top: 50px;
}

.header{
  height: 50px;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #3c3c3c;
  padding-bottom: 60px;
}

.description{
  height: 500px;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}

.title{
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 30px;
  width: 100%;
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
  color: #3c3c3c;
}

.products{
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.product{
  height: 375px;
  border: 1px solid white;
  border-radius: 10px;
}

.product:hover{
  box-shadow: 0 0 40px;
  transition: 1.5s;
  background-color: white;
}

.map{
  width: 100%;
  border-top: 4px solid grey;
  border-bottom: 4px solid grey;
}

.footer{
  height: 110px;
  background-color: #3c3c3c;
  color: white;
  font-size: 24px;
  font-family: 'Teko', sans-serif;
}







.block{
  font-family: 'Rubik Mono One', sans-serif;
  margin-top: 120px;
  background-color: #3c3c3c;
  width: 300px;
  text-align: center;
  border: 1px solid gainsboro;
  border-radius: 5px;
  box-shadow: 0 0 5px;
  color: white;
}

.inputs{
  margin-top: 20px;
  border: 1px solid grey;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
}

#btn{
  margin-top: 20px;
  border: 1px solid grey;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
}

.mt-100{
margin-top: 170px;

}

.categories{
  background-color: grey;
  height: 70px;
  font-family: 'Coustard', serif;
  color: white;
}

.white{
  color:white;
}

.white:hover{
  color:#FB8122;
  text-decoration: none;
}

.b-popup{
  width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0px;
  font-family: 'Teko', sans-serif;
  font-size: 22px;
}
.b-popup .b-popup-content{
  margin: 200px auto 0px auto;
    width: 400px;
    height: 210px;
    padding: 30px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.a-popup{
  width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0px;
  font-family: 'Teko', sans-serif;
  font-size: 22px;
}
.a-popup .a-popup-content{
  margin: 200px auto 0px auto;
    width: 400px;
    height: 310px;
    padding: 30px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}